.tbsm-all__group
  .t-box_headers
    = render 'top-page/header'
  .tbsm-item__content
    .tbsm-filed__header
      = @items.name
    .tbsm-filed__show
      .tbsm-left-group
        %section.tbsml-top_image
          = image_tag "mercari.jpg", size: '230x255', class: "tbm-c-image"
        %section.tbsml-bottom_image
          .show-photos_all
      .tbsm-right-group
        .show-item_value
          %section.tbsm-group_box
            .tbsmr-item
              出品者
            .tbsmr-value.tbsmr-color
              情報さとこ
          %section.tbsm-group_box
            .tbsmr-item-large
              カテゴリー
            .tbsmr-value-large.tbsmr-color
              = @categories.name
              %p
                >
                = @categories.ancestry
              %p
                > ショートパンツ
          %section.tbsm-group_box
            .tbsmr-item
              ブランド
            .tbsmr-value.tbsmr-color
              = @brands.name
          %section.tbsm-group_box
            .tbsmr-item
              商品の状態
            .tbsmr-value
              = @items.state
          %section.tbsm-group_box
            .tbsmr-item
              配送料の負担
            .tbsmr-value
              送料込み(出品者負担)
          %section.tbsm-group_box
            .tbsmr-item
              配送の方法
            .tbsmr-value
              らくらくメルカリ
          %section.tbsm-group_box
            .tbsmr-item
              配送元地域
            .tbsmr-value.tbsmr-color
              = @prefectures.name
          %section.tbsm-group_box
            .tbsmr-item
              発送日の目安
            .tbsmr-value
              =@items.shipping_date
              日以内で発送

    .tbsm-filed__footer
      .tbsm-filed__money
        .tbsm-price-box
          ￥
          = @items.price
        .tbsm-tax-box
          (税込み) 送料込み
      .tbsm-filed__btn
        購入画面に進む
      .tbsm-filed__desc
        = @items.explain
      .tbsm-filed__like
        .tbsm-like-left-box
          .tbsm-like_box
            .fa.fa-heart{"aria-hidden" => "true",class: "tbh-icon"}
            いいね
            =@items.likes_count
          .tbsm-not_box
            .fa.fa-flag{"aria-hidden" => "true",class: "tbh-icon"}
            不適切な商品の報告
        .tbsm-like-right-box
          .tbsm-security_box
            .fa.fa-unlock-alt{"aria-hidden" => "true",class: "tbh-icon"}
            あんしん･安全への取り組み

  .tbsm-comment__content
    .tbsm-filed__note
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .tbsm-filed__text
      %text_area{class: "tbh-form__input", style: "width:100%; height:100px; box-sizing:border-box"}
    .tbsm-filed__btn
      コメントする
  .tbsm-footer__content
    .t-box_footers
      = render 'top-page/footer'