.box
  .top-element
    .__top-heading
      = image_tag 'logo.svg', height: '49px', width: '193px'

  .main-element
    .__fat-box
      .__medium-box
        購入内容の確認
      .__foundation-box
        .__purchased-goods
          .__item-image-box
            = image_tag 'm12210137071_1.jpg', height: '64px', width: '64px'
          .__item-name-box
            ローリング・ストーンズ Rolling Stones Tシャツ ロック 古着
          .__buy-details
            .__buy-price-container
              .__price-inside
                ¥ 980
              .__separately
                送料込み
            .__buy-point-box
              .__point-in-box
                ポイントはありません
            .__buy-price-table
              .__p-payment
                支払い金額
              .__p-amount
                ¥ 980
            .__purchase-btn-box
              .__p-inner
                購入する
      .__during-box
        .__dbox-inner
          .__shipping
            配送先
          .__address
            .__postal-code
              〒555-5555
            .__pc-location
              愛知県名古屋市中区栄
            .__buyer-name
              ジョン・万次郎
          .__info-text-box
          .__change-point
            .__cp-btn
              変更する
            .__cp-btn-icon
              = fa_icon 'chevron-right', class: 'icon'
      .__saucer
        .__sau-innner
          .__payment-method
            支払い方法
          .__pm__card-number
            .__number-secret
              ************3333
            .__cn-date
              8/11
          .__pm__card-mark
            = image_tag 'visa.svg', height: '15px', width: '49px'
          .__change-point
            .__cp-btn
              変更する
            .__cp-btn-icon
              = fa_icon 'chevron-right', class: 'icon'
  .earth
    .__base
      .__slender-box
        .__p-policy
          プライバシーポリシー
        .__terms-of-service
          メルカリ利用規約
        .__commercial-transaction
          特定商取引に関する表記
      .__footer-merlogo
        = image_tag 'gray-logo.jpg', height: '65px', width: '80px'
      .__m-small-box
        .__s-box-inner
          ©2019 mercari