.left-content
  .__s-lists
    .__s-list
      .__s-link
        = link_to "マイページ", mypage_items_path, class:'__s-to-link'
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        お知らせ
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        やることリスト
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        いいね！いいね！一覧
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        = link_to "出品する", exhibit_items_path, class:'__s-to-link'
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        出品した商品-出品中
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        出品した商品-取引中
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        出品した商品-売却済み
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        購入した商品-取引中
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        購入した商品-過去の取引
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        ニュース一覧
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        評価一覧
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        ガイド
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        お問い合わせ
        = fa_icon 'chevron-right', class: 'icon'

  .__s-lists-category
    メルペイ
  .__s-list-box
    .__s-list
      .__s-link
        売上・振込申請
        = fa_icon 'chevron-right', class: 'icon'
    .__s-list
      .__s-link
        ポイント
        = fa_icon 'chevron-right', class: 'icon'

  .__s-lists-category
    設定
  .__s-list-box-low
    .__s-l-list
      .__s-link
        = link_to "プロフィール", profile_items_path, class:'__s-to-link'
        = fa_icon 'chevron-right', class: 'icon'
    .__s-l-list
      .__s-link
      発送元・お届け先住所
      = fa_icon 'chevron-right', class: 'icon'
    .__s-l-list
      .__s-link
        = link_to "支払い方法", card_tmp1_card_index_path, class:'__s-to-link'
        = fa_icon 'chevron-right', class: 'icon'
    .__s-l-list
      .__s-link
      メール/パスワード
      = fa_icon 'chevron-right', class: 'icon'
    .__s-l-list
      .__s-link
        = link_to "本人情報", personal_items_path, class:'__s-to-link'
        = fa_icon 'chevron-right', class: 'icon'
    .__s-l-list
      .__s-link
      電話番号の確認
      = fa_icon 'chevron-right', class: 'icon'
    .__s-l-list
      .__s-link
        = link_to "ログアウト", logout_items_path, class:'__s-to-link'
        = fa_icon 'chevron-right', class: 'icon'