.box
  .mypage-content
    .t-box_headers
      = render 'top-page/header'
    - breadcrumb :mypage
    = render "layouts/breadcrumbs"

  .editing
    = render 'show-page/main'

  .item_edit
    .editing_btn
      商品の編集
    .or
      or
    .item_stops
      出品を一旦停止する
    .item_delete
      = link_to "この商品を削除する", method: :delete, class: "item_delete"



  .t-box_footers
    = render 'top-page/footer'