.tbm-all__group
  - @items.each do |r|
    %section.tbm-c__item
      %a{:href => "https://www.google.com",class: "tbm-c__link"}
        %figure.tbm-c__link_figure
            = image_tag("mercari.jpg", size: '230x255', class: "tbm-c-image")
        .tbm-c__text
          .tbm-c__name
            = r.name
          .tbm-c__box
            .tbm-c__price
              ¥
              = r.price
            .tbm-c__good
              = fa_icon "heart-o", class: ".tbm-c__good_btn"
              .tbm-c__good_count
              = r.likes_count