.box
  .logout-box
    .t-box_headers
      = render 'top-page/header'
    - breadcrumb :logout
    = render "layouts/breadcrumbs"
    .p-box_main
      .head2

      .main
        .senter-box
          = render 'profile-page/left'
          .__logout-right-content
            .__p-logout
              .__logout-submit
                .__logout-btn
                  = link_to "ログアウト", root_path,class: "logout_btn-text"
    .t-box_footers
      = render 'top-page/footer'