.backbox
	.logo
		= image_tag 'logo.jpg', size: '200x60'

	.new_user
		.h_square
			新規会員登録
		.m_square
			.btn_boxes
				.mail_btn
					= fa_icon 'envelope-o', class: 'f-icon'
					.mail_text
					= link_to "メールアドレスで登録する", root_path,class: "mail_btn"
				.fb_btn
					= fa_icon 'facebook-official' , class: 'f-icon'
					.fb_text
						Facebookで登録する
				.gl_btn
					= fa_icon 'google' , class: 'f-icon'
					.gl_text
						Googleで登録する


	.footer
		.footer__box
			%ul
				%li
					プライバシーポリシー &nbsp;&nbsp;  メルカリ利用規約 &nbsp;&nbsp; 特定商取引に関する表記
				%li
					= image_tag 'gray-logo.jpg', size: '90x80'
				%li ©︎2019 Mercari