.box
  .mypage-content
    .t-box_headers
      = render 'top-page/header'
    - breadcrumb :personal
    = render "layouts/breadcrumbs"
    .mypage-box
      .m-box_left
        .senter-box
          = render 'profile-page/left'
      .m-box_right
        = render 'profile-page/personal'
    .t-box_footers
      = render 'top-page/footer'