.main
  .t-box_headers
    = render 'top-page/header'
  - breadcrumb :card_tmp1
  = render "layouts/breadcrumbs"
  .head2
  .main-big-box
    .senter-box
      .left-content
        = render 'profile-page/left'
      .right-content-pay
        .s-field__title 支払い方法
        .srp-content
          .srp-title クレジットカード一覧
          .scp-card
            .scp-card-list

            %a.scp-card-add{href: "/card/card_tmp2"}
              = fa_icon "credit-card"
              クレジットカードを追加する

          .scp-links
            = link_to "支払い方法について","1",class: "scp-link"
            = fa_icon "chevron-right"

    .t-box_footers
      = render 'top-page/footer'