.backbox
  .logo
    = image_tag 'logo.jpg', size: '200x60'

  .new_contents
    = form_with model: @item,local: true  do  |f|
      .__title
        %h2 商品の情報を入力
        .__image
        .__item-drop
          %h4 出品画像
          %span 必須
          %p 最大10枚までアップロードできます
          -# = f.fields_for :photos do |photo|
          -#   = photo.file_field :img_list,placeholder: "ドラッグアンドドロップ   またはクリックしてファイルをアップロード", id: "book_img",class: "__dropping"


        .__item-info
          ._name
            %h4 商品名
            %span 必須
            = f.text_field :name ,placeholder: "商品名（必須 40文字まで)",class: "_name__input"
          ._description
            %h4 商品の説明
            %span 必須
            = f.text_area :explain ,placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",class: "_description__text"
        .-about.clearfix
          %h3 商品の詳細
          .__item-about
            .new_box
              .__category
                %h4 カテゴリー
                %span 必須
                = f.select :category_id,[["新品、未使用",1], ["未使用に近い",2],["目立った傷や汚れなし",3], ["やや傷や汚れあり",4]], class: "contents__item-about_box_condition_input",prompt: "---"
              ._condition
                %h4 商品の状態
                %span 必須
                = f.select :state, [["新品、未使用",1], ["未使用に近い",2],["目立った傷や汚れなし",3], ["やや傷や汚れあり",4],["傷や汚れあり",5],["全体的に状態が悪い",6]], class: "contents__item-about_box_condition_input",prompt: "---"
        .__shipping.clearfix
          %h3 配送について
          .__shipping_box
            .__shipping_box_charge
              %h4 配送料の負担
              %span 必須
              = f.select :fee_side,[["送料込み（出品者負担）",1],["着払い（購入者負担）",2]], class: "contents__shipping_box_charge_input",prompt: "---"
              -# =if @select == 1
            .__shipping_box_ship-from-region
              %h4 発送元の地域
              %span 必須
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name,class: "contents__shipping_box_from-region-input",prompt: "---"
            .__shipping_box_date
              %h4 発送までの日数
              %span 必須
              = f.select :shipping_date,[["1~2日で発送",1],["2~3日で発送",2],["4~7日で発送",3]], class:"contents__shipping_box_date_input",prompt: "---"
        .__price.clearfix
          %h3 販売価格(300〜9,999,999)
          .new_box
            %ul
              %li._list_top.clearfix
                ._list_top_label
                  %h4 価格
                  %span<> 必須
                ._list_top_right
                  = f.text_field :price,placeholder:"例）¥300"
              %li._list
                %pre._list_text 販売手数料（10%）                                     -
              %li._list
                %pre.h5 販売利益                                            -
        .contents__submit
          %a<>禁止されている出品
          、
          %a<>行為
          を必ずご確認ください。
          %br
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          %a<>偽ブランドの販売
          は犯罪であり処罰される可能性があります。
          %br
          また、出品をもちまして
          %a<>加盟店規約
          に同意したことになります。
          = f.submit "出品する",class: "contents__submit__go-btn"
            
          %a.contents__submit__back-btn{href: "/"} もどる

  .footer
    .footer__box
      %ul
        %li
          プライバシーポリシー &nbsp;&nbsp;  メルカリ利用規約 &nbsp;&nbsp; 特定商取引に関する表記
        %li
          = image_tag 'gray-logo.jpg', size: '90x80'
        %li ©︎2019 Mercari