.mypage-mein-box
  .__user-picture
    .__inner-box
      .__merdoll
        = image_tag 'member_photo_noimage_thumb.png', height: '60px', width: '60px'
      .__thin-line
        アラキ
      .__evaluation
        .__e-score
          評価 0
        .__exhibit
          出品数 0
  .__announce
    .__mp-tabs
      .__notice
        .__inner-tab.harf-line
          お知らせ
      .__todoing
        .__inner-tab
          やることリスト

    .__details
      .__multiple
        .__breakdown
          .__b-mascot
            = image_tag 'mercari_profile.png', height: '48px', width: '48px'
          .__text-block
            《出品するだけ》５％のお得チケットが最大”５枚”もらえる！出品得々祭が開催中♪
          .__time-clock
            .__clock-icon
              = fa_icon 'clock-o', class: 'icon'
            .__complete-day
              1日前
          .__icon-arrows
            = fa_icon 'chevron-right', class: 'icon'
        .__breakdown
          .__b-mascot
            = image_tag 'mercari_profile.png', height: '48px', width: '48px'
          .__text-block
            事務局から個別メッセージ「ログイン通知」
          .__time-clock
            .__clock-icon
              = fa_icon 'clock-o', class: 'icon'
            .__complete-day
              4日前
          .__icon-arrows
            = fa_icon 'chevron-right', class: 'icon'
        .__breakdown
          .__b-mascot
            = image_tag 'mercari_profile.png', height: '48px', width: '48px'
          .__text-block
            明日、、P999還元お得チケットの有効期限が切れます切れます！詳細を確認よろ。
          .__time-clock
            .__clock-icon
              = fa_icon 'clock-o', class: 'icon'
            .__complete-day
              4日前
          .__icon-arrows
            = fa_icon 'chevron-right', class: 'icon'
        .__breakdown
          .__b-mascot
            = image_tag 'mercari_profile.png', height: '48px', width: '48px'
          .__text-block
            《まもなく終了！》今なら最大”P1500"もらえる！もらえる！詳しくはこちらから♪
          .__time-clock
            .__clock-icon
              = fa_icon 'clock-o', class: 'icon'
            .__complete-day
              5日前
          .__icon-arrows
            = fa_icon 'chevron-right', class: 'icon'
        .__breakdown
          .__b-mascot
            = image_tag 'mercari_profile.png', height: '48px', width: '48px'
          .__text-block
            《お買い物応援キャンペーン》1,000円の商品を”実質1円”で購入できます！
          .__time-clock
            .__clock-icon
              = fa_icon 'clock-o', class: 'icon'
            .__complete-day
              6日前
          .__icon-arrows
            = fa_icon 'chevron-right', class: 'icon'
    .__list-btn
      .__list-btn-act
        .__inline-text
          一覧を見る
  .__local-small
    .__purchase
      購入した商品
    .__transaction
      .__t-current
        .__inner-text.harf-line
          取引中
      .__t-past
        .__inner-text
          過去の取引
    .__trading-item
      .__merulogo
        取引中の商品がありません
