.contents
  .contents__top__image-box
    %ul.slides
      %li
        = image_tag 'image01.jpg', size: '800x400'
      -# %li
      -#   = image_tag 'image02.jpg', size: '1300x400'
  .contents__container
    %h2.contents__container_title ピックアップカテゴリー
    .contents__container__item__box
      %h3.contents__container__item__box_title レディース新着アイテム
      .contents__container__item__box__items
    %section.contents__container__item__box__items__item
      %a.contents__container__item__box__items__item__link
        %figure.contents__container__item__box__items__item__link_figure
          = image_tag 'mercari.jpg', size: '230x255'
      .contents__container__item__box__items__item_text
        .contents__container__item__box__items__item_text_item-name
          %h3 メルカリ商品
        .contents__container__item__box__items__item_text_item-box
          .contents__container__item__box__items__item_text_item-box_price ¥800
          .contents__container__item__box__items__item_text_item-box_good
            = fa_icon "heart-o", class: "contents__container__item__box__items__item_text_item-box_good_btn"
            %span.contents__container__item__box__items__item_text_item-box_good_count 3
        %p.contents__container__item__box__items__item_text_tax 

    %section.contents__container__item__box__items__item
      %a.contents__container__item__box__items__item__link
        %figure.contents__container__item__box__items__item__link_figure
          = image_tag 'mercari.jpg', size: '230x255'
      .contents__container__item__box__items__item_text
        .contents__container__item__box__items__item_text_item-name
          %h3.contents__container__item__box__items__item_text_item-name メルカリ
        .contents__container__item__box__items__item_text_item-box
          .contents__container__item__box__items__item_text_item-box_price ¥800
          .contents__container__item__box__items__item_text_item-box_good
            = fa_icon "heart-o", class:"contents__container__item__box__items__item_text_item-box_good_btn"
            %span.contents__container__item__box__items__item_text_item-box_good_count 3
        %p.contents__container__item__box__items__item_text_tax 

    %section.contents__container__item__box__items__item
      %a.contents__container__item__box__items__item__link
        %figure.contents__container__item__box__items__item__link_figure
          = image_tag 'mercari.jpg', size: '230x255'
      .contents__container__item__box__items__item_text
        .contents__container__item__box__items__item_text_item-name
          %h3 メルカリ
        .contents__container__item__box__items__item_text_item-box
          .contents__container__item__box__items__item_text_item-box_price ¥800
          .contents__container__item__box__items__item_text_item-box_good
            = fa_icon "heart-o", class:"contents__container__item__box__items__item_text_item-box_good_btn"
            %span.contents__container__item__box__items__item_text_item-box_good_count 3
        %p.contents__container__item__box__items__item_text_tax 

    %section.contents__container__item__box__items__item
      %a.contents__container__item__box__items__item__link
        %figure.contents__container__item__box__items__item__link_figure
          = image_tag 'mercari.jpg', size: '230x255'
      .contents__container__item__box__items__item_text
        .contents__container__item__box__items__item_text_item-name
          %h3 メルカリ
        .contents__container__item__box__items__item_text_item-box
          .contents__container__item__box__items__item_text_item-box_price ¥800
          .contents__container__item__box__items__item_text_item-box_good
            = fa_icon "heart-o", class:"contents__container__item__box__items__item_text_item-box_good_btn"
            %span.contents__container__item__box__items__item_text_item-box_good_count 3
        %p.contents__container__item__box__items__item_text_tax 

    .contents__container__item__box_link
    %a.contents__container__item__box_link_text すべての商品を見る
    .contents__container__item__box
    %h3.contents__container__item__box_title メンズ新着アイテム
    .contents__container__item__box__items

    %section.contents__container__item__box__items__item
      %a.contents__container__item__box__items__item__link
        %figure.contents__container__item__box__items__item__link_figure
          = image_tag 'mercari01.jpg', size: '230x255'
      .contents__container__item__box__items__item_text
        .contents__container__item__box__items__item_text_item-name
          %h3 メルカリ
        .contents__container__item__box__items__item_text_item-box
          .contents__container__item__box__items__item_text_item-box_price ¥800
          .contents__container__item__box__items__item_text_item-box_good
            = fa_icon "heart-o", class:"contents__container__item__box__items__item_text_item-box_good_btn"
            %span.contents__container__item__box__items__item_text_item-box_good_count 3
        %p.contents__container__item__box__items__item_text_tax

    %section.contents__container__item__box__items__item
      %a.contents__container__item__box__items__item__link
        %figure.contents__container__item__box__items__item__link_figure
          = image_tag 'mercari01.jpg', size: '230x255'
      .contents__container__item__box__items__item_text
        .contents__container__item__box__items__item_text_item-name
          %h3 メルカリ
        .contents__container__item__box__items__item_text_item-box
          .contents__container__item__box__items__item_text_item-box_price ¥800
          .contents__container__item__box__items__item_text_item-box_good
            = fa_icon "heart-o", class:"contents__container__item__box__items__item_text_item-box_good_btn"
            %span.contents__container__item__box__items__item_text_item-box_good_count 3
        %p.contents__container__item__box__items__item_text_tax

    %section.contents__container__item__box__items__item
      %a.contents__container__item__box__items__item__link
        %figure.contents__container__item__box__items__item__link_figure
          = image_tag 'mercari01.jpg', size: '230x255'
      .contents__container__item__box__items__item_text
        .contents__container__item__box__items__item_text_item-name
          %h3 メルカリ
        .contents__container__item__box__items__item_text_item-box
          .contents__container__item__box__items__item_text_item-box_price ¥800
          .contents__container__item__box__items__item_text_item-box_good
            = fa_icon "heart-o", class:"contents__container__item__box__items__item_text_item-box_good_btn"
            %span.contents__container__item__box__items__item_text_item-box_good_count 3
        %p.contents__container__item__box__items__item_text_tax

    %section.contents__container__item__box__items__item
      %a.contents__container__item__box__items__item__link
        %figure.contents__container__item__box__items__item__link_figure
          = image_tag 'mercari01.jpg', size: '230x255'
      .contents__container__item__box__items__item_text
        .contents__container__item__box__items__item_text_item-name
          %h3 メルカリ
        .contents__container__item__box__items__item_text_item-box
          .contents__container__item__box__items__item_text_item-box_price ¥800
          .contents__container__item__box__items__item_text_item-box_good
            = fa_icon "heart-o", class:"contents__container__item__box__items__item_text_item-box_good_btn"
            %span.contents__container__item__box__items__item_text_item-box_good_count 3
        %p.contents__container__item__box__items__item_text_tax

    .contents__container__item__box_link
    %a.contents__container__item__box_link_text すべての商品を見る
